// Fonts
@import url('../assets/fonts/fonts.css');

*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    overflow-x: hidden;
}

ul,
li,
a {
    text-decoration: none;
    list-style-type: none;
}

button {
    border: none;
    outline: none;
    cursor: pointer;
}
